.body {margin: 0;}

#presentation {text-align: center;}

.titlePresentation {
    font-family: 'Londrina Solid', cursive;
    background-color:#94C5CC;
    border-radius: 10px;
    border:solid 1px dimgrey;
    margin: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 30%;
    height: 40px;
    box-shadow:5px 5px 5px gray;
    font-size: x-large;
}

.photoPresentation  {
    text-align: center ;
    width: 85%;
    border-radius: 10px;
    box-shadow:5px 5px 5px gray;
}

.history {
    width: 85%;
    height: auto;
    font-family: 'Dancing Script', cursive;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border:solid 1px dimgrey;
    box-shadow:5px 5px 5px gray;
    margin: auto;
    margin-top: 20px;
}