body {
    margin: 0;
}

nav {
    width: 100%;
    height: auto;
    background-color: #B3D2E7;
}

ul {
    width: 100%;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
    background-color: #94C5CC;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a:hover {
    color: black;
}
.slogan {
    width: 70%;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 5px 5px 5px grey;
}

.slogan p {
    text-align: center;
    margin: 0;
    line-height: 40px;
    font-size: 26px;
    font-style:italic;
    font-weight: bold;
    color: grey;
}
